# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Emil\OneDrive - Polsko-Japońska Akademia Technik Komputerowych\Studia\sem_IV\TPO\TPO6_SE_S20607\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
